.animationload {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
    display: none;
}
.osahanloading {
    /*animation: osahanloading 1.5s linear 0s normal none infinite running;*/
    animation: osahanloading 20s linear forwards 0s;
    background: #fed37f none repeat scroll 0 0;
    border-radius: 50px;
    height: 30px;
    left: 50%;
    margin-left: -15px;
    margin-top: -15px;
    position: absolute;
    top: 40%;
    width: 30px;
}
.osahanloading::after {
    /*animation: osahanloading_after 1.5s linear 0s normal none infinite running;*/
    animation: osahanloading_after 20s linear forwards 0s;
    border-color: #85d6de transparent;
    border-radius: 80px;
    border-style: solid;
    border-width: 10px;
    content: "";
    height: 60px;
    left: -25px;
    position: absolute;
    top: -25px;
    width: 60px;
}

@keyframes osahanloading {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    50% {
        background: #85d6de none repeat scroll 0 0;
        -webkit-transform: rotate(2160deg);
        transform: rotate(2160deg);
    }
    100% {
        -webkit-transform: rotate(4320deg);
        transform: rotate(4320deg);
    }
}

.loading_container{
    background-color: white;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    text-align: center;
    width: 270px;
    height: 140px;
    border-radius: 20px;
}
.loading_text{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 77%;
}