{% extends "layout.html" %}
{% block content %}
  <div class="jumbo">
    <h2>Bigdue</h2>
    <button class="time_button" id="choose_time" name="choose_time" onclick="openSelectMenu();">SELECT TIME RANGE</button>
    <button class="time_button" id="show_data" name="show_data" onclick="onSelectAllData();">SELECT ALL DATA</button>
    <p id="guide_text"></p>
    <div id="slider_container">
      <div id="slider"></div>
      <button id="select_time" onclick="getSelectedData();">SUBMIT</button>
    </div>
  </div>
  <script type=text/javascript>
    function getTimestamp(){
      var array = "{{ timestamp | safe }}";
      var converted_array =  array.replace(/'/g, '"');
      return JSON.parse(converted_array);
    }
    function getWiresharkFiles(){
      var array = "{{ wiresharkfiles | safe }}";
      var converted_array =  array.replace(/'/g, '"');
      console.log(array)
      return JSON.parse(converted_array);
    }
    function getPcapFiles(){
      var array = "{{ pcapfilelist | safe }}";
      var converted_array =  array.replace(/'/g, '"');
      console.log(array)
      return JSON.parse(converted_array);
    }
    function getScriptRoot() {
      var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
      return $SCRIPT_ROOT;
    }
  </script>
{% endblock %}
