{% extends "layout.html" %}
{% block content %}
  <div class="jumbo">
    <h2>Bigdue</h2>
    <a class="time_button" id="choose_time" name="choose_time" onclick="openSelectMenu();">시간 선택</a>
    <a class="time_button" id="show_data" name="show_data" onclick="onSelectAllData();">데이터 확인</a>
  </div>
  <div class="slider_container">
    <div id="slider"></div>
  </div>
  <script type=text/javascript>
    function getTimestamp(){
      var array = "{{ accessRoot | safe }}";
      var converted_array =  array.replace(/'/g, '"');
      console.log(JSON.parse(converted_array));
      return JSON.parse(converted_array);
    }
    function getScriptRoot() {
      var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
      return $SCRIPT_ROOT;
    }
    console.log(getTimestamp())
  </script>
{% endblock %}
