{% extends "layout.html" %}
{% block content %}
  <div class="jumbo">
    <h2>Bigdue<h2>
        <form action="{{ url_for('getTimeValue') }}" method="POST">
          <input id="choose_time" type="submit" name="choose_time" value="시간 선택">
          <input id="show_data" type="submit" name="show_data" value="데이터 확인">
        </form>
  </div>
  <script>
      var array = "{{ accessRoot | safe }}";
      function getTimestamp(){
        return array;
      }
      console.log(getTimestamp())
  </script>
{% endblock %}