html, body{
    width: 100%;
    height: 100%;
    overflow: auto;
    margin: 0;
}

#chartdiv {
    width: 100%;
    height: 100%;
}
#chartdiv a{
    display: none !important;
}																													